<%= form_with(model: foundation, local: true) do |form| %>
  <% if foundation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foundation.errors.count, "error") %> prohibited this foundation from being saved:</h2>

      <ul>
      <% foundation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :foundation_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :foundation_body %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count, id: :foundation_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
