<%= form_with(model: foundation, local: true) do |form| %>
  <% if foundation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foundation.errors.count, "error") %> prohibited this foundation from being saved:</h2>

      <ul>
      <% foundation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :foundation_name %>
  </div>

  <div class="field">
    <%= form.label :nit %>
    <%= form.text_field :nit, id: :foundation_nit %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.number_field :active, id: :foundation_active %>
  </div>

  <div class="field">
    <%= form.label :foundation_type_id %>
    <%= form.text_field :foundation_type_id, id: :foundation_foundation_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
