<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @foundation.name %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @foundation.nit %>
</p>

<p>
  <strong>Active:</strong>
  <%= @foundation.active %>
</p>

<p>
  <strong>Foundation type:</strong>
  <%= @foundation.foundation_type %>
</p>

<%= link_to 'Edit', edit_foundation_path(@foundation) %> |
<%= link_to 'Back', foundations_path %>
