<p id="notice"><%= notice %></p>

<h1>Foundation Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foundation_types.each do |foundation_type| %>
      <tr>
        <td><%= foundation_type.name %></td>
        <td><%= foundation_type.description %></td>
        <td><%= foundation_type.active %></td>
        <td><%= link_to 'Show', foundation_type %></td>
        <td><%= link_to 'Edit', edit_foundation_type_path(foundation_type) %></td>
        <td><%= link_to 'Destroy', foundation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foundation Type', new_foundation_type_path %>
